This is a Notebook for practicing different **python** codes

In [1]:
# print a string saying 'Hello, Dipti'
# When you want to write comments, you can use '#', the script 
# that starts with '#' is not considered for running command

print("Hello, Dipti")

Hello, Dipti

#### Mutable and Immutable datatype

Mutable datatypes: datatypes that can be edited. Examples are **list and dictionary**

#### List

In [14]:
# List

list1 = [1,2,3]
print(list1)

[1, 2, 3]

In [15]:
list1[0] = 8   # we replaced position '0' which is 1 with 8, it is editable
print(list1)

[8, 2, 3]

In [16]:
# Insert items in list

list1.insert(1,"Dipti")
list1

[8, 'Dipti', 2, 3]

In [17]:
# Extend list

list2 = [7,8,9]

list1.extend(list2)
list1

[8, 'Dipti', 2, 3, 7, 8, 9]

In [18]:
# Remove list items

list1.remove("Dipti")
list1

[8, 2, 3, 7, 8, 9]

In [19]:
# Remove specified index, alternative is 'del'

# del list1[0]

# list1.clear()  will clear the list

list1.pop(0)
list1

[2, 3, 7, 8, 9]

In [20]:
# Sorting the list

list3 = [1,6,4,5]
list1.extend(list3)

In [21]:
list1.sort()
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
# sort list in descending

list1.sort(reverse = True)
list1

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [23]:
# Copying list

# copy_list = list1.copy()
# print(copy_list)

copy_list = list1  #if we use a=b, the changes made in a will reflect on b, 
                   #in order to avoid that we use copy method

copy_new_list = list1.copy()
print(copy_new_list)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [24]:
list1.sort()
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
copy_new_list

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [26]:
# Lists can be joined by using +

list3 = list1 + copy_new_list
list3

[1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [27]:
# We can create list in a list

list5 = [11,12,13,14, list1]
list5

[11, 12, 13, 14, [1, 2, 3, 4, 5, 6, 7, 8, 9]]

In [28]:
len(list5)  #still you can see that length of the list is 5

5

In [29]:
list5[4]  # here you can unpack the list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Dictionary

In [30]:
# Dictionary - used to store data values in key:value pair. A dictionary is a collection which is ordered*, 
# changeable and do not allow duplicates.

dict = {"brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]    
}

print(dict)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

In [31]:
dict['type']= 'SUV' # we can update the dictionary

print(dict)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue'], 'type': 'SUV'}

In [32]:
dict['brand'] = 'Toyota' # here we updated the brand name
print(dict)

{'brand': 'Toyota', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue'], 'type': 'SUV'}



#### Immutable datatypes: 
datatypes that can't be edited. **Examples are string and tuple**

#### Strings

In [33]:
string = "Hello Dipti"
print(string)

Hello Dipti

In [34]:
string['Hello Dipti'] = 'Hello'

TypeError: 'str' object does not support item assignment

#### Tuples

In [35]:
# Tuples : Tuples are used to store multiple items in a single variable. 
#          It is ordered and unchangeable, allows duplicate

tuple= ('a','b','c','d')
print(tuple)

('a', 'b', 'c', 'd')

In [36]:
tuple[1] = 'z'
print(tuple)

TypeError: 'tuple' object does not support item assignment

In [37]:
tuple[2]          #In python, first item has index 0. Index is the position

'c'

In [38]:
# Negative index starts with -1 (first letter when you count backwards)

tuple[-1]

'd'

In [39]:
print(tuple[2:3])  #last number of range is not included

('c',)

In [41]:
print(tuple[:2])   #results the items from beginning, but does not include the last index

('a', 'b')

In [42]:
x = (1,2,3,4,5)

# add number to tuples (since tuple is not mutable, you need to convert into list and then again into tuple)

y = list(x)
y.append(6)
x = tuple(y)
print(x)

TypeError: 'tuple' object is not callable

In [43]:
for i in range(len(x)):
    print(x[i])

1
2
3
4
5

In [46]:
if 3<6:
    print("less than number")

less than number

In [47]:
my_var = "John"

## my var = "John"  # this will fetch error

In [48]:
fruits = ["apple","banana","orange"]
x,y,z = fruits

print(x)
print(y)
print(z)

apple
banana
orange

#### Loops in python

There are 2 loop commands: "while" and "for"

- while : executable as long as condition is true   
- for : used to iterating over a sequence

In [49]:
# Intro to loop

x

for y in x:
    print(y)

a
p
p
l
e

In [50]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
count = 0 

for x in fruits:
    print(x)
    if "a" in x:
        count = count + 1
        
print(count)

apple
banana
cherry
kiwi
mango
3

In [51]:
for value in range(6):       #prints the value less than 6
    print(value)

0
1
2
3
4
5

In [52]:
# In the above output you get a numbers incremented by 1, what if I want it to increment by 2

for val in range(2,20,2):
    print(val)

2
4
6
8
10
12
14
16
18

In [53]:
# using else in for loop

for v in range(6):
    print(v)
else:
    print("Finally finished!")

0
1
2
3
4
5
Finally finished!

#### **DATATYPES IN PYTHON**

1. Integers (int) : 3, 100, 10
2. Floating point (float) : 2.3, 9.0. 194.6
3. Strings (str) : "hello", '4000', "Deepti"
4. Lists (list) : [10, "dips", 3]
5. Dictionaries (dict) : {"key": "value", "name", "Deepti"}
6. Tuples (tup) : (10, "hello", 400)
7. Sets (set) : {"a","b"}
8. Booleans (bool) : True or False

#### Numbers

In [54]:
9+6.3  # Addition

15.3

In [55]:
100-80 # Subtraction

20

In [56]:
2*2   # Multiplication

4

In [57]:
3/2

1.5

In [58]:
4/2  # Division

2.0

In [59]:
4%2 # To know remainder, use MOD operator '%'

0

In [60]:
50%3

2

In [61]:
2**3  # Exponetial

8

In [96]:
print(25^5)

28

#### Variable Assignment

In [63]:
my_dog = "Caesar"

In [64]:
print(my_dog)

Caesar

In [65]:
type(my_dog)

str

In [66]:
a = 2.5

In [67]:
type(a)

float

In [68]:
one_val = 20.5
other_val = 30

print(one_val * other_val)

615.0

#### INDEX in python

Character  : h  e  l  l  o  
Index      : 0  1  2  3  4  
Reverse ind: 0 -4 -3 -2 -1

In [69]:
# Using single quotation

'hello'

'hello'

In [70]:
print('hello')

hello

In [71]:
# Using double quotation when you need to use single quotation in sentence

"I'm going to DC"

"I'm going to DC"

In [72]:
# If you write two sentences, the output will be only the last one

'Hi, I am Deepti'
'I love dogs'

'I love dogs'

In [73]:
# If you want to include full sentences, you need to use 'print'

print('Hi, I am Deepti')
print('I love dogs')

Hi, I am Deepti
I love dogs

In [74]:
# Escape sequence (\n): If you want to print in different lines

print("Hi, \nI'm Deepti")

Hi,
I'm Deepti

In [75]:
# Check the length of string

print(len("Hello"))
print(len("I'm Deepti"))  #counts the spaces as well

5
10

#### String Indexing

In [76]:
string = "Hello World"

In [77]:
# Let's day I want to grab the second character from string. I can do that by specifying index position
# Remember that the positive index starrts from '0' and negative index from '-1'

# Extract 'e' from string

string[1]

'e'

In [78]:
# Extract 'W' from string

string[-5]

'W'

#### String Slicing

In [79]:
my_string = "Hello World, I'm Deepti!"

# Extract "Hello" from string. There are two ways: 

#1. Specify [0:5] - that will extract all letters till 5th position and doesn't include 5th position (stop index). Remember to count from '0'
#2. Specify [:5] - That will also do the same. Remember that it cosiders the mentioned index position

my_string[:5]

'Hello'

In [80]:
# Extract "I'm Deepti!"

# When you are using colon after the index number, that letters will incude the start index position and all later

my_string[13:]

"I'm Deepti!"

In [81]:
# Extract "World"

# In this we want 'W' to be first one, therefore we will incude start index 'W' and the stop index as 'd' as it is considered before 11th positiom

my_string[6:11]

'World'

In [82]:
# An alternative method o grab everyting in the string - step size

# Now this is printing every letters in step H e l l o....

my_string[::]

"Hello World, I'm Deepti!"

In [83]:
# What if I want to print evry 2 letter in a sequence

my_string[::2]

"HloWrd ' epi"

In [84]:
my_string[::5]

'H dmp'

In [85]:
# You can also do this =>
# [start index : stop index : step size]

string2 = "abcdefghijklm"

string2[2:7:2]

'ceg'

In [86]:
# The operation is performed as follows:

# 1. It will first print the letter from start index 2 to stop index 7 = 'cdefg'
# 2. I t will perform step function i.e +2 on cdefg = ceg

In [87]:
my_string[::-1]

"!itpeeD m'I ,dlroW olleH"

#### Immutability in string

In [88]:
# Let's say I want to replace 'beer' with 'deer' by just changing first letter.
# Since strings are immutable meaning that they cannot be edited, you have to use concatenation

a = 'beer'

In [89]:
b = a[1:]
b

'eer'

In [90]:
c = 'd'+b
c

'deer'

In [91]:
# Another example would be. Creating a number in the form of string

'200' + '100'    # This is not equal to 300 as it is a string

'200100'

In [92]:
a.upper()

'BEER'

In [93]:
my_string.split()    # splits based on spaces

['Hello', 'World,', "I'm", 'Deepti!']

In [94]:
my_string.split("'")

['Hello World, I', 'm Deepti!']

#### Print Formatting with Strings

#### .format() method

In [1]:


# The formatting is used to concatenate parts of a string at desired intervals through point data format
# We use {} to fill any data formats

print('The roses are {}'.format('red'))

The roses are red

In [2]:
print('The roses are {}, {}, {}'.format('red','pink','yellow'))

The roses are red, pink, yellow

In [3]:
print('The roses are {0}, {0}, {0}'.format('red','pink','yellow'))

The roses are red, red, red

In [4]:
print('The roses are {2}, {0}, {1}'.format('red','pink','yellow'))

The roses are yellow, red, pink

In [5]:
print('The roses are {r}, {p}, {y}'.format(r='red',p='pink',y='yellow'))   #specifying using variable assignment, better than index position

The roses are red, pink, yellow

#### float .format() method

In [6]:
result = 100/777

In [7]:
result

0.1287001287001287

In [8]:
print("The result was {r}".format(r=result))

The result was 0.1287001287001287

In [9]:
# What if you want decimal to be in a specific places
# "value:width.precision f"

print("The result was {r:1.3f}".format(r=result))

The result was 0.129

In [10]:
print("The result was {r:10.3f}".format(r=result))   #width just adds space before the number

The result was      0.129

In [11]:
result2 = 200.45

In [12]:
print("The result was {r:1.3f}".format(r=result2))

The result was 200.450

#### 'f' string method

In [13]:
# An alternarive method to do formating : 'f' string

name = "Dipti"

In [14]:
print(f"Hello, my name is {name}")

Hello, my name is Dipti

In [15]:
name = "Ana"
age = 3
print(f"Her name is {name} and she is {age} years old")

Her name is Ana and she is 3 years old

#### MUTABLE DATATYPES

#### Lists

In [18]:
# Lists are mutable dataypes that stores values in ordered sequence

list_1 = [1, "two", 3, "4", 5, 6]

In [19]:
list_1

[1, 'two', 3, '4', 5, 6]

In [20]:
list_2 = [5,6,8,9]

In [23]:
# concatenation

list_3 = list_1 + list_2
list_3

[1, 'two', 3, '4', 5, 6, 5, 6, 8, 9]

In [24]:
list_3[0]

1

In [25]:
list_3[1] =2

In [26]:
list_3

[1, 2, 3, '4', 5, 6, 5, 6, 8, 9]

In [27]:
list_3[3]=4

In [28]:
list_3

[1, 2, 3, 4, 5, 6, 5, 6, 8, 9]

In [29]:
# slicing

list_3[:5]

[1, 2, 3, 4, 5]

In [32]:
# step functions

list_3[1:7:2]

[2, 4, 6]

In [33]:
list_3.append(10)
list_3

[1, 2, 3, 4, 5, 6, 5, 6, 8, 9, 10]

In [34]:
# pop() removes the last items, if nothing specified index location is povided under ()

list_3.pop()

10

In [35]:
list_3

[1, 2, 3, 4, 5, 6, 5, 6, 8, 9]

In [37]:
list_3.pop(6)

5

In [38]:
list_3

[1, 2, 3, 4, 5, 6, 6, 8, 9]

In [39]:
list_3.pop(5)

6

In [42]:
list_3.sort(reverse= True)   #or list_3.reverse()
list_3

[9, 8, 6, 5, 4, 3, 2, 1]

#### Dictionaries

In [1]:
# Dictionarie are the mutable datatypes and contains key:value pair. They are unordered, cant be sorted
# {'key1': value1, 'key2' : 'value2'}

prices = { 'apple' : '2.99', 'oranges' :1.99, 'milk': 5.80}

In [2]:
prices

{'apple': '2.99', 'oranges': 1.99, 'milk': 5.8}

In [3]:
prices['milk']

5.8

In [4]:
prices[0]  #this doesnt recogmizr index

KeyError: 0

In [5]:
# We can store list inside dictionary

d = {'k1': 123, 'k2':[0,1,2,3], 'k3':{'insidekey':100}}

In [6]:
d

{'k1': 123, 'k2': [0, 1, 2, 3], 'k3': {'insidekey': 100}}

In [8]:
d['k2']

[0, 1, 2, 3]

In [12]:
d['k2'][1]    # since it was a list I can specify index in it

1

In [10]:
d['k3']['insidekey']

100

In [15]:
 # Changing the value in key
    
d['k1']=450
d

{'k1': 450, 'k2': [0, 1, 2, 3], 'k3': {'insidekey': 100}}

In [16]:
key = {'key1':['a','b','c']}
key

{'key1': ['a', 'b', 'c']}

In [18]:
# Lets say I want the letter 'c' to be capital, we can do so by 

mylist = key['key1']
mylist

['a', 'b', 'c']

In [21]:
c = mylist[2].upper()
c

'C'

In [22]:
# Other method

key['key1'][2].upper()

'C'

In [ ]:
# Adding new key: value pair

d

In [24]:
d['k4'] = 687

In [25]:
d

{'k1': 450, 'k2': [0, 1, 2, 3], 'k3': {'insidekey': 100}, 'k4': 687}

In [26]:
# List the keys in dictionary

d.keys()

dict_keys(['k1', 'k2', 'k3', 'k4'])

In [27]:
# List the items in dictionary

d.items()

dict_items([('k1', 450), ('k2', [0, 1, 2, 3]), ('k3', {'insidekey': 100}), ('k4', 687)])

#### IMMUTABLE DATATYPES

#### Tuples

In [31]:
# Tupes are similar to lists but they are immutable (cant be reassigned)
# syntax (1,2,3)

t = (1,2,3)
t

(1, 2, 3)

In [32]:
type(t)

tuple

In [33]:
t[1]

2

In [34]:
t = ('one',2)

In [35]:
t

('one', 2)

In [36]:
t = (1,2,2,4,5,6)

In [37]:
# count repeats

t.count(2)

2

In [38]:
# Gives index locations

t.index(4)

3

In [39]:
# Can we assign new value in tuple -- No

t[3] = 9

TypeError: 'tuple' object does not support item assignment

#### Sets in Python

In [41]:
# Sets are unordered collection of unique elements

set1 = set()
set1                 #empty set

set()

In [43]:
set1.add(1)
set1

{1}

In [45]:
set1.add(2)
set1

{1, 2}

In [48]:
# Lets try adding 2 again

set1.add(2)
set1             # Did you see dups? No, because they allowe only unique values

{1, 2}

In [49]:
list3 = [1,1,1,1,1,2,2,2,2,3,3]

In [51]:
set(list3)

{1, 2, 3}

#### Booleans

In [52]:
# Logical Operators that allows True or False

# In Python, you must write True and False like "True" and "False". It is case sensitive

False

False

In [54]:
1>2

False

In [56]:
5 <10

True

In [57]:
type(True)

bool

In [58]:
2 == 4

False

In [59]:
b = None

In [60]:
type(b)

NoneType