This is a python file for practicing different python codes

In [35]:
# print a string saying 'Hello, Dipti'
# When you want to write comments, you can use '#', the script that starts with '#' is not considered for running command

print("Hello, Dipti")

Hello, Dipti

#### Mutable and Immutable datatype

Mutable datatypes: datatypes that can be edited. Examples are list and dictionary

- List

In [83]:
# List

list1 = [1,2,3]
print(list1)

[1, 2, 3]

In [84]:
list1[0] = 8   # we replaced position '0' which is 1 with 8, it is editable
print(list1)

[8, 2, 3]

In [85]:
# Insert items in list

list1.insert(1,"Dipti")
list1

[8, 'Dipti', 2, 3]

In [86]:
# Extend list

list2 = [7,8,9]

list1.extend(list2)
list1

[8, 'Dipti', 2, 3, 7, 8, 9]

In [87]:
# Remove list items

list1.remove("Dipti")
list1

[8, 2, 3, 7, 8, 9]

In [88]:
# Remove specified index, alternative is 'del'

# del list1[0]

# list1.clear()  will clear the list

list1.pop(0)
list1

[2, 3, 7, 8, 9]

In [89]:
# Sorting the list

list3 = [1,6,4,5]
list1.extend(list3)

In [92]:
list1.sort()
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [93]:
# sort list in descending

list1.sort(reverse = True)
list1

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [96]:
# Copying list

# copy_list = list1.copy()
# print(copy_list)

copy_list = list1  #if we use a=b, the changes made in a will reflect on b, in order to avoid that we use copy method

copy_new_list = list1.copy()
print(copy_new_list)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [97]:
list1.sort()
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [98]:
copy_new_list

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [100]:
# Lists can be joined by using +

list3 = list1 + copy_new_list
list3

[1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [102]:
# We can create list in a list

list5 = [11,12,13,14, list1]
list5

[11, 12, 13, 14, [1, 2, 3, 4, 5, 6, 7, 8, 9]]

In [103]:
len(list5)  #still you can see that length of the list is 5

5

In [105]:
list5[4]  # here you can unpack the list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

- Dictionary

In [38]:
# Dictionary - used to store data values in key:value pair. A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

dict = {"brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]    
}

print(dict)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

In [39]:
dict['type']= 'SUV' # we can update the dictionary

print(dict)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue'], 'type': 'SUV'}

In [40]:
dict['brand'] = 'Toyota' # here we updated the brand name
print(dict)

{'brand': 'Toyota', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue'], 'type': 'SUV'}



Immutable datatypes: datatypes that can't be edited. Examples are string and tuple

- Strings

In [74]:
string = "Hello Dipti"
print(string)

Hello Dipti

In [75]:
string['Hello Dipti'] = 'Hello'

TypeError: 'str' object does not support item assignment

- Tuples

In [ ]:
# Tuples : Tuples are used to store multiple items in a single variable. It is ordered and unchangeable, allows duplicate

tuple= ('a','b','c','d')
print(tuple)

In [ ]:
tuple[1] = 'z'
print(tuple)

In [ ]:
tuple[2] #first item has index 0

In [ ]:
# negative index starts with -1 (first letter when you count backwards)

tuple[-1]

In [ ]:
print(tuple[2:3])  #last number of range is not included

In [ ]:
print(tuple[:2]) # results items from beginning to but not included the last index

In [ ]:
x = (1,2,3,4,5)

# add number to tuples (since tuple is not mutable, you need to convert into list and then again into tuple)

y = list(x)
y.append(6)
x = tuple(y)
print(x)

In [46]:
for i in range(len(x)):
    print(x[i])

1
2
3
4
5

In [49]:
if 3<6:
    print("less than number")

less than number

In [54]:
my var = "John"

SyntaxError: invalid syntax (<ipython-input-54-ffb5c73e7820>, line 1)

In [58]:
fruits = ["apple","banana","orange"]
x,y,z = fruits

print(x)
print(y)

apple
banana

#### Loops in python

There are 2 loop commands: "while" and "for"

while - executable as long as condition is true
for - used to iterating over a sequence

In [59]:
# Intro to loop

x

for y in x:
    print(y)

a
p
p
l
e

In [107]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
count = 0 

for x in fruits:
    print(x)
    if "a" in x:
        count = count + 1
        
print(count)

apple
banana
cherry
kiwi
mango
3

In [1]:
for value in range(6):       #prints the value less than 6
    print(value)

0
1
2
3
4
5

In [4]:
# In the above output you get a numbers incremented by 1, what if I want it to increment by 2

for val in range(2,20,2):
    print(val)

2
4
6
8
10
12
14
16
18

In [6]:
# using else in for loop

for v in range(6):
    print(v)
else:
    print("Finally finished!")

0
1
2
3
4
5
Finally finished!