This is a Notebook for practicing different **python** codes

In [1]:
# print a string saying 'Hello, Dipti'
# When you want to write comments, you can use '#', the script 
# that starts with '#' is not considered for running command

print("Hello, Dipti")

Hello, Dipti



#### Immutable datatypes: 
datatypes that can't be edited. **Examples are string and tuple**

#### Strings

In [2]:
string = "Hello Dipti"
print(string)

Hello Dipti

In [3]:
# string['Hello Dipti'] = 'Hello'   #strings are immutable so result will be an error

TypeError: 'str' object does not support item assignment

#### Tuples

In [4]:
# Tuples : Tuples are used to store multiple items in a single variable. 
#          It is ordered and unchangeable, allows duplicate

tuple= ('a','b','c','d')
print(tuple)

('a', 'b', 'c', 'd')

In [5]:
# tuple[1] = 'z'
# print(tuple)

TypeError: 'tuple' object does not support item assignment

In [6]:
tuple[2]          #In python, first item has index 0. Index is the position

'c'

In [7]:
# Negative index starts with -1 (first letter when you count backwards)

tuple[-1]

'd'

In [8]:
print(tuple[2:3])  #last number of range is not included

('c',)

In [9]:
print(tuple[:2])   #results the items from beginning, but does not include the last index

('a', 'b')

In [10]:
# x = (1,2,3,4,5)

# # add number to tuples (since tuple is not mutable, you need to convert into list and then again into tuple)

# y = list(x)
# y.append(6)
# x = tuple(y)
# print(x)

TypeError: 'tuple' object is not callable

In [11]:
for i in range(len(x)):
    print(x[i])

1
2
3
4
5

In [12]:
if 3<6:
    print("less than number")

less than number

In [13]:
my_var = "John"

## my var = "John"  # this will fetch error

In [14]:
fruits = ["apple","banana","orange"]
x,y,z = fruits

print(x)
print(y)
print(z)

apple
banana
orange

#### Loops in python

There are 2 loop commands: "while" and "for"

- while : executable as long as condition is true   
- for : used to iterating over a sequence

In [15]:
# Intro to loop

x

for y in x:
    print(y)

a
p
p
l
e

In [16]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
count = 0 

for x in fruits:
    print(x)
    if "a" in x:
        count = count + 1
        
print(count)

apple
banana
cherry
kiwi
mango
3

In [17]:
for value in range(6):       #prints the value less than 6
    print(value)

0
1
2
3
4
5

In [18]:
# In the above output you get a numbers incremented by 1, what if I want it to increment by 2

for val in range(2,20,2):
    print(val)

2
4
6
8
10
12
14
16
18

In [19]:
# using else in for loop

for v in range(6):
    print(v)
else:
    print("Finally finished!")

0
1
2
3
4
5
Finally finished!

#### **DATATYPES IN PYTHON**

1. Integers (int) : 3, 100, 10
2. Floating point (float) : 2.3, 9.0. 194.6
3. Strings (str) : "hello", '4000', "Deepti"
4. Lists (list) : [10, "dips", 3]
5. Dictionaries (dict) : {"key": "value", "name", "Deepti"}
6. Tuples (tup) : (10, "hello", 400)
7. Sets (set) : {"a","b"}
8. Booleans (bool) : True or False

#### Numbers

In [20]:
9+6.3  # Addition

15.3

In [21]:
100-80 # Subtraction

20

In [22]:
2*2   # Multiplication

4

In [23]:
3/2

1.5

In [24]:
4/2  # Division

2.0

In [25]:
4%2 # To know remainder, use MOD operator '%'

0

In [26]:
50%3

2

In [27]:
2**3  # Exponetial

8

In [28]:
print(25^5)

28

#### Variable Assignment

In [29]:
my_dog = "Caesar"

In [30]:
print(my_dog)

Caesar

In [31]:
type(my_dog)

str

In [32]:
a = 2.5

In [33]:
type(a)

float

In [34]:
one_val = 20.5
other_val = 30

print(one_val * other_val)

615.0

#### INDEX in python

Character  : h  e  l  l  o  
Index      : 0  1  2  3  4  
Reverse ind: 0 -4 -3 -2 -1

In [35]:
# Using single quotation

'hello'

'hello'

In [36]:
print('hello')

hello

In [37]:
# Using double quotation when you need to use single quotation in sentence

"I'm going to DC"

"I'm going to DC"

In [38]:
# If you write two sentences, the output will be only the last one

'Hi, I am Deepti'
'I love dogs'

'I love dogs'

In [39]:
# If you want to include full sentences, you need to use 'print'

print('Hi, I am Deepti')
print('I love dogs')

Hi, I am Deepti
I love dogs

In [40]:
# Escape sequence (\n): If you want to print in different lines

print("Hi, \nI'm Deepti")

Hi,
I'm Deepti

In [41]:
# Check the length of string

print(len("Hello"))
print(len("I'm Deepti"))  #counts the spaces as well

5
10

#### String Indexing

In [42]:
string = "Hello World"

In [43]:
# Let's day I want to grab the second character from string. I can do that by specifying index position
# Remember that the positive index starrts from '0' and negative index from '-1'

# Extract 'e' from string

string[1]

'e'

In [44]:
# Extract 'W' from string

string[-5]

'W'

#### String Slicing

In [45]:
my_string = "Hello World, I'm Deepti!"

# Extract "Hello" from string. There are two ways: 

#1. Specify [0:5] - that will extract all letters till 5th position and doesn't include 5th position (stop index). Remember to count from '0'
#2. Specify [:5] - That will also do the same. Remember that it cosiders the mentioned index position

my_string[:5]

'Hello'

In [46]:
# Extract "I'm Deepti!"

# When you are using colon after the index number, that letters will incude the start index position and all later

my_string[13:]

"I'm Deepti!"

In [47]:
# Extract "World"

# In this we want 'W' to be first one, therefore we will incude start index 'W' and the stop index as 'd' as it is considered before 11th positiom

my_string[6:11]

'World'

In [48]:
# An alternative method o grab everyting in the string - step size

# Now this is printing every letters in step H e l l o....

my_string[::]

"Hello World, I'm Deepti!"

In [49]:
# What if I want to print evry 2 letter in a sequence

my_string[::2]

"HloWrd ' epi"

In [50]:
my_string[::5]

'H dmp'

In [51]:
# You can also do this =>
# [start index : stop index : step size]

string2 = "abcdefghijklm"

string2[2:7:2]

'ceg'

In [52]:
# The operation is performed as follows:

# 1. It will first print the letter from start index 2 to stop index 7 = 'cdefg'
# 2. I t will perform step function i.e +2 on cdefg = ceg

In [53]:
my_string[::-1]

"!itpeeD m'I ,dlroW olleH"

#### Immutability in string

In [54]:
# Let's say I want to replace 'beer' with 'deer' by just changing first letter.
# Since strings are immutable meaning that they cannot be edited, you have to use concatenation

a = 'beer'

In [55]:
b = a[1:]
b

'eer'

In [56]:
c = 'd'+b
c

'deer'

In [57]:
# Another example would be. Creating a number in the form of string

'200' + '100'    # This is not equal to 300 as it is a string

'200100'

In [58]:
a.upper()

'BEER'

In [59]:
my_string.split()    # splits based on spaces

['Hello', 'World,', "I'm", 'Deepti!']

In [60]:
my_string.split("'")

['Hello World, I', 'm Deepti!']

#### Print Formatting with Strings

#### .format() method

In [61]:


# The formatting is used to concatenate parts of a string at desired intervals through point data format
# We use {} to fill any data formats

print('The roses are {}'.format('red'))

The roses are red

In [62]:
print('The roses are {}, {}, {}'.format('red','pink','yellow'))

The roses are red, pink, yellow

In [63]:
print('The roses are {0}, {0}, {0}'.format('red','pink','yellow'))

The roses are red, red, red

In [64]:
print('The roses are {2}, {0}, {1}'.format('red','pink','yellow'))

The roses are yellow, red, pink

In [65]:
print('The roses are {r}, {p}, {y}'.format(r='red',p='pink',y='yellow'))   #specifying using variable assignment, better than index position

The roses are red, pink, yellow

#### float .format() method

In [66]:
result = 100/777

In [67]:
result

0.1287001287001287

In [68]:
print("The result was {r}".format(r=result))

The result was 0.1287001287001287

In [69]:
# What if you want decimal to be in a specific places
# "value:width.precision f"

print("The result was {r:1.3f}".format(r=result))

The result was 0.129

In [70]:
print("The result was {r:10.3f}".format(r=result))   #width just adds space before the number

The result was      0.129

In [71]:
result2 = 200.45

In [72]:
print("The result was {r:1.3f}".format(r=result2))

The result was 200.450

#### 'f' string method

In [73]:
# An alternarive method to do formating : 'f' string

name = "Dipti"

In [74]:
print(f"Hello, my name is {name}")

Hello, my name is Dipti

In [75]:
name = "Ana"
age = 3
print(f"Her name is {name} and she is {age} years old")

Her name is Ana and she is 3 years old

### Mutable and Immutable datatype

#### MUTABLE DATATYPES

Mutable datatypes: datatypes that can be edited. Examples are **list and dictionary**

#### Lists

In [76]:
# Lists are mutable dataypes that stores values in ordered sequence

list_1 = [1, "two", 3, "4", 5, 6]

In [77]:
list_1

[1, 'two', 3, '4', 5, 6]

In [78]:
list_2 = [5,6,8,9]

In [79]:
# concatenation

list_3 = list_1 + list_2
list_3

[1, 'two', 3, '4', 5, 6, 5, 6, 8, 9]

In [80]:
list_3[0]

1

In [81]:
list_3[1] =2

In [82]:
list_3

[1, 2, 3, '4', 5, 6, 5, 6, 8, 9]

In [83]:
list_3[3]=4

In [84]:
list_3

[1, 2, 3, 4, 5, 6, 5, 6, 8, 9]

In [85]:
# extend list

list4 = [13,39,11,84]

list_3.extend(list4)

list_3

[1, 2, 3, 4, 5, 6, 5, 6, 8, 9, 13, 39, 11, 84]

In [87]:
# Copying list

# copy_list = list1.copy()
# print(copy_list)

copy_list = list_1  #if we use a=b, the changes made in a will reflect on b, 
                   #in order to avoid that we use copy method

copy_new_list = list_1.copy()
print(copy_new_list)

[1, 'two', 3, '4', 5, 6]

In [89]:
# We can create list in a list

list5 = [11,12,13,14, list_1]
list5

[11, 12, 13, 14, [1, 'two', 3, '4', 5, 6]]

In [90]:
len(list5)    #len will be 4 not includes the count of nexted lists

5

In [91]:
list5[4]  # here you can unpack the list

[1, 'two', 3, '4', 5, 6]

In [92]:
# slicing

list_3[:5]

[1, 2, 3, 4, 5]

In [93]:
# step functions

list_3[1:7:2]

[2, 4, 6]

In [94]:
list_3.append(10)
list_3

[1, 2, 3, 4, 5, 6, 5, 6, 8, 9, 13, 39, 11, 84, 10]

In [95]:
# pop() removes the last items, if nothing specified index location is povided under ()

list_3.pop()

10

In [96]:
list_3

[1, 2, 3, 4, 5, 6, 5, 6, 8, 9, 13, 39, 11, 84]

In [97]:
list_3.pop(6)

5

In [98]:
list_3

[1, 2, 3, 4, 5, 6, 6, 8, 9, 13, 39, 11, 84]

In [99]:
list_3.remove(6)      #in remove an item in a list is specified instead of index position

In [100]:
list_3

[1, 2, 3, 4, 5, 6, 8, 9, 13, 39, 11, 84]

In [101]:
# Remove specified index, alternative is 'del'

# del list1[0]

# list1.clear()  will clear the list

In [102]:
list_3.sort(reverse= True)   #or list_3.reverse()
list_3

[84, 39, 13, 11, 9, 8, 6, 5, 4, 3, 2, 1]

In [103]:
list_3.sort()
list_3

[1, 2, 3, 4, 5, 6, 8, 9, 11, 13, 39, 84]

#### Dictionaries

In [104]:
# Dictionary - used to store data values in key:value pair. A dictionary is a collection which is ordered*, 
# changeable and do not allow duplicates.

dict = {"brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]    
}

print(dict)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

In [105]:
# Dictionarie are the mutable datatypes and contains key:value pair. They are unordered, cant be sorted
# {'key1': value1, 'key2' : 'value2'}

prices = { 'apple' : '2.99', 'oranges' :1.99, 'milk': 5.80}

In [106]:
prices

{'apple': '2.99', 'oranges': 1.99, 'milk': 5.8}

In [107]:
prices['milk']

5.8

In [108]:
# prices[0]  #this doesnt recognize index

KeyError: 0

In [109]:
# We can store list inside dictionary

d = {'k1': 123, 'k2':[0,1,2,3], 'k3':{'insidekey':100}}

In [110]:
d

{'k1': 123, 'k2': [0, 1, 2, 3], 'k3': {'insidekey': 100}}

In [111]:
d['k2']

[0, 1, 2, 3]

In [112]:
d['k2'][1]    # since it was a list I can specify index in it

1

In [113]:
d['k3']['insidekey']

100

In [114]:
 # Changing the value in key
    
d['k1']=450
d

{'k1': 450, 'k2': [0, 1, 2, 3], 'k3': {'insidekey': 100}}

In [115]:
key = {'key1':['a','b','c']}
key

{'key1': ['a', 'b', 'c']}

In [116]:
# Lets say I want the letter 'c' to be capital, we can do so by 

mylist = key['key1']
mylist

['a', 'b', 'c']

In [117]:
c = mylist[2].upper()
c

'C'

In [118]:
# Other method

key['key1'][2].upper()

'C'

In [119]:
# Adding new key: value pair

d

{'k1': 450, 'k2': [0, 1, 2, 3], 'k3': {'insidekey': 100}}

In [120]:
d['k4'] = 687

In [121]:
d

{'k1': 450, 'k2': [0, 1, 2, 3], 'k3': {'insidekey': 100}, 'k4': 687}

In [122]:
# List the keys in dictionary

d.keys()

dict_keys(['k1', 'k2', 'k3', 'k4'])

In [123]:
# List the items in dictionary

d.items()

dict_items([('k1', 450), ('k2', [0, 1, 2, 3]), ('k3', {'insidekey': 100}), ('k4', 687)])

#### IMMUTABLE DATATYPES

#### Tuples

In [124]:
# Tupes are similar to lists but they are immutable (cant be reassigned)
# syntax (1,2,3)

t = (1,2,3)
t

(1, 2, 3)

In [125]:
type(t)

tuple

In [126]:
t[1]

2

In [127]:
t = ('one',2)

In [128]:
t

('one', 2)

In [129]:
t = (1,2,2,4,5,6)

In [130]:
# count repeats

t.count(2)

2

In [131]:
# Gives index locations

t.index(4)

3

In [133]:
# Can we assign new value in tuple -- No

# t[3] = 9

#### Sets in Python

In [134]:
# Sets are unordered collection of unique elements

set1 = set()
set1                 #empty set

set()

In [135]:
set1.add(1)
set1

{1}

In [136]:
set1.add(2)
set1

{1, 2}

In [137]:
# Lets try adding 2 again

set1.add(2)
set1             # Did you see dups? No, because they allowe only unique values

{1, 2}

In [138]:
list3 = [1,1,1,1,1,2,2,2,2,3,3]

In [139]:
set(list3)   #set doesnt allows duplicates

{1, 2, 3}

#### Booleans

In [140]:
# Logical Operators that allows True or False

# In Python, you must write True and False like "True" and "False". It is case sensitive

False

False

In [141]:
1>2

False

In [142]:
5 <10

True

In [143]:
type(True)

bool

In [144]:
2 == 4

False

In [145]:
b = None

In [146]:
type(b)

NoneType

#### Basic I/O files

Magic Function in python '%'. Magic functions only work in jupyter lab/notebook. This is a function of jupyter
**Please note:** There shouldn't be any comments before the magic functions, otherwise it wont work

In [149]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
I am explaining how you can write a tex file in python

Writing myfile.txt

In [150]:
myfile = open('myfile.txt')    #file name should be in string

In [154]:
myfile.read()

'Hello this is a text file\nthis is the second line\nI am explaining how you can write a tex file in python\n'

In [155]:
myfile.read()

''

when you read the text file again it wont show the text, it gave an empty string
This is happenig cz there is a cursor at the beginning of the file and in order to make
it read again, we need to seek it back to zero

In [156]:
myfile.seek(0)

0

In [157]:
myfile.read()

'Hello this is a text file\nthis is the second line\nI am explaining how you can write a tex file in python\n'

Sometimes the file won't open if its not in a same folder where your jupyter notebook is
In this case, you need to get a file path using pwd... this also doesnt work with any comments before it

In [153]:
pwd

'/Users/shirishpandagare/Documents/DiptiFolder/Github_repo/Deepti_Github_Repo/Learning_hub/python_learning'

In [159]:
# if we want separate objects

myfile.seek(0)

0

In [160]:
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'I am explaining how you can write a tex file in python\n']

How to open a text file which is in any other location in Mac / Linux     
myfile = open("/Users/Username/Folder/myfile.txt")

In [161]:
pwd

'/Users/shirishpandagare/Documents/DiptiFolder/Github_repo/Deepti_Github_Repo/Learning_hub/python_learning'

In [162]:
myfile.close()

In [163]:
with open('myfile.txt') as my_new_file:
    content = my_new_file.read()

In [164]:
content

'Hello this is a text file\nthis is the second line\nI am explaining how you can write a tex file in python\n'

In [166]:
with open('myfile.txt',mode ='r') as myfile:
    content = myfile.read()

mode = **r** is for read, **w** for write, **a** to append