This is a Notebook for practicing different **python** codes

In [1]:
# print a string saying 'Hello, Dipti'
# When you want to write comments, you can use '#', the script 
# that starts with '#' is not considered for running command

print("Hello, Dipti")

Hello, Dipti

#### Mutable and Immutable datatype

Mutable datatypes: datatypes that can be edited. Examples are list and dictionary

- List

In [2]:
# List

list1 = [1,2,3]
print(list1)

[1, 2, 3]

In [3]:
list1[0] = 8   # we replaced position '0' which is 1 with 8, it is editable
print(list1)

[8, 2, 3]

In [4]:
# Insert items in list

list1.insert(1,"Dipti")
list1

[8, 'Dipti', 2, 3]

In [5]:
# Extend list

list2 = [7,8,9]

list1.extend(list2)
list1

[8, 'Dipti', 2, 3, 7, 8, 9]

In [6]:
# Remove list items

list1.remove("Dipti")
list1

[8, 2, 3, 7, 8, 9]

In [7]:
# Remove specified index, alternative is 'del'

# del list1[0]

# list1.clear()  will clear the list

list1.pop(0)
list1

[2, 3, 7, 8, 9]

In [8]:
# Sorting the list

list3 = [1,6,4,5]
list1.extend(list3)

In [9]:
list1.sort()
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
# sort list in descending

list1.sort(reverse = True)
list1

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [11]:
# Copying list

# copy_list = list1.copy()
# print(copy_list)

copy_list = list1  #if we use a=b, the changes made in a will reflect on b, 
                   #in order to avoid that we use copy method

copy_new_list = list1.copy()
print(copy_new_list)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [12]:
list1.sort()
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
copy_new_list

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [14]:
# Lists can be joined by using +

list3 = list1 + copy_new_list
list3

[1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [15]:
# We can create list in a list

list5 = [11,12,13,14, list1]
list5

[11, 12, 13, 14, [1, 2, 3, 4, 5, 6, 7, 8, 9]]

In [16]:
len(list5)  #still you can see that length of the list is 5

5

In [17]:
list5[4]  # here you can unpack the list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

- Dictionary

In [18]:
# Dictionary - used to store data values in key:value pair. A dictionary is a collection which is ordered*, 
# changeable and do not allow duplicates.

dict = {"brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]    
}

print(dict)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

In [19]:
dict['type']= 'SUV' # we can update the dictionary

print(dict)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue'], 'type': 'SUV'}

In [20]:
dict['brand'] = 'Toyota' # here we updated the brand name
print(dict)

{'brand': 'Toyota', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue'], 'type': 'SUV'}



Immutable datatypes: datatypes that can't be edited. Examples are string and tuple

- Strings

In [21]:
string = "Hello Dipti"
print(string)

Hello Dipti

In [22]:
string['Hello Dipti'] = 'Hello'

TypeError: 'str' object does not support item assignment

- Tuples

In [ ]:
# Tuples : Tuples are used to store multiple items in a single variable. 
#          It is ordered and unchangeable, allows duplicate

tuple= ('a','b','c','d')
print(tuple)

In [ ]:
tuple[1] = 'z'
print(tuple)

In [ ]:
tuple[2]          #In python, first item has index 0. Index is the position

In [ ]:
# Negative index starts with -1 (first letter when you count backwards)

tuple[-1]

In [ ]:
print(tuple[2:3])  #last number of range is not included

In [ ]:
print(tuple[:2])   #results the items from beginning, but does not include the last index

In [ ]:
x = (1,2,3,4,5)

# add number to tuples (since tuple is not mutable, you need to convert into list and then again into tuple)

y = list(x)
y.append(6)
x = tuple(y)
print(x)

In [ ]:
for i in range(len(x)):
    print(x[i])

In [ ]:
if 3<6:
    print("less than number")

In [ ]:
my_var = "John"

## my var = "John"  # this will fetch error

In [ ]:
fruits = ["apple","banana","orange"]
x,y,z = fruits

print(x)
print(y)
print(z)

#### Loops in python

There are 2 loop commands: "while" and "for"

- while : executable as long as condition is true   
- for : used to iterating over a sequence

In [ ]:
# Intro to loop

x

for y in x:
    print(y)

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
count = 0 

for x in fruits:
    print(x)
    if "a" in x:
        count = count + 1
        
print(count)

In [ ]:
for value in range(6):       #prints the value less than 6
    print(value)

In [ ]:
# In the above output you get a numbers incremented by 1, what if I want it to increment by 2

for val in range(2,20,2):
    print(val)

In [ ]:
# using else in for loop

for v in range(6):
    print(v)
else:
    print("Finally finished!")

##### **DATATYPES IN PYTHON**

1. Integers (int) : 3, 100, 10
2. Floating point (float) : 2.3, 9.0. 194.6
3. Strings (str) : "hello", '4000', "Deepti"
4. Lists (list) : [10, "dips", 3]
5. Dictionaries (dict) : {"key": "value", "name", "Deepti"}
6. Tuples (tup) : (10, "hello", 400)
7. Sets (set) : {"a","b"}
8. Booleans (bool) : True or False

##### Numbers

In [ ]:
9+6.3  # Addition

In [ ]:
100-80 # Subtraction

In [ ]:
2*2   # Multiplication

In [ ]:
3/2

In [ ]:
4/2  # Division

In [ ]:
4%2 # To know remainder, use MOD operator '%'

In [ ]:
50%3

In [ ]:
2**3  # Exponetial

In [ ]:
25^5

##### Variable Assignment

In [ ]:
my_dog = "Caesar"

In [ ]:
print(my_dog)

In [ ]:
type(my_dog)

In [ ]:
a = 2.5

In [ ]:
type(a)

In [ ]:
one_val = 20.5
other_val = 30

print(one_val * other_val)

#### INDEX in python

Character  : h  e  l  l  o  
Index      : 0  1  2  3  4  
Reverse ind: 0 -4 -3 -2 -1

In [23]:
# Using single quotation

'hello'

'hello'

In [26]:
print('hello')

hello

In [24]:
# Using double quotation when you need to use single quotation in sentence

"I'm going to DC"

"I'm going to DC"

In [27]:
# If you write two sentences, the output will be only the last one

'Hi, I am Deepti'
'I love dogs'

'I love dogs'

In [28]:
# If you want to include full sentences, you need to use 'print'

print('Hi, I am Deepti')
print('I love dogs')

Hi, I am Deepti
I love dogs

In [29]:
# Escape sequence (\n): If you want to print in different lines

print("Hi, \nI'm Deepti")

Hi,
I'm Deepti

In [33]:
# Check the length of string

print(len("Hello"))
print(len("I'm Deepti"))  #counts the spaces as well

5
10

##### String Indexing

In [35]:
string = "Hello World"

In [36]:
# Let's day I want to grab the second character from string. I can do that by specifying index position
# Remember that the positive index starrts from '0' and negative index from '-1'

# Extract 'e' from string

string[1]

'e'

In [37]:
# Extract 'W' from string

string[-5]

'W'

##### String Slicing

In [42]:
my_string = "Hello World, I'm Deepti!"

# Extract "Hello" from string. There are two ways: 

#1. Specify [0:5] - that will extract all letters till 5th position and doesn't include 5th position (stop index). Remember to count from '0'
#2. Specify [:5] - That will also do the same. Remember that it cosiders the mentioned index position

my_string[:5]

'Hello'

In [46]:
# Extract "I'm Deepti!"

# When you are using colon after the index number, that letters will incude the start index position and all later

my_string[13:]

"I'm Deepti!"

In [48]:
# Extract "World"

# In this we want 'W' to be first one, therefore we will incude start index 'W' and the stop index as 'd' as it is considered before 11th positiom

my_string[6:11]

'World'

In [49]:
# An alternative method o grab everyting in the string - step size

# Now this is printing every letters in step H e l l o....

my_string[::]

"Hello World, I'm Deepti!"

In [50]:
# What if I want to print evry 2 letter in a sequence

my_string[::2]

"HloWrd ' epi"

In [51]:
my_string[::5]

'H dmp'

In [53]:
# You can also do this =>
# [start index : stop index : step size]

string2 = "abcdefghijklm"

string2[2:7:2]

'ceg'

In [54]:
# The operation is performed as follows:

# 1. It will first print the letter from start index 2 to stop index 7 = 'cdefg'
# 2. I t will perform step function i.e +2 on cdefg = ceg

In [55]:
my_string[::-1]

"!itpeeD m'I ,dlroW olleH"

##### Immutability in string

In [56]:
# Let's say I want to replace 'beer' with 'deer' by just changing first letter.
# Since strings are immutable meaning that they cannot be edited, you have to use concatenation

a = 'beer'

In [57]:
b = a[1:]
b

'eer'

In [59]:
c = 'd'+b
c

'deer'

In [60]:
# Another example would be. Creating a number in the form of string

'200' + '100'    # This is not equal to 300 as it is a string

'200100'

In [61]:
a.upper()

'BEER'

In [67]:
my_string.split()    # splits based on spaces

['Hello', 'World,', "I'm", 'Deepti!']

In [71]:
my_string.split("'")

['Hello World, I', 'm Deepti!']