This is a Notebook for practicing different **python** codes

In [1]:
# print a string saying 'Hello, Dipti'
# When you want to write comments, you can use '#', the script 
# that starts with '#' is not considered for running command

print("Hello, Dipti")

Hello, Dipti

In [3]:
string = "Hello Dipti"
print(string)

Hello Dipti

In [4]:
my_var = "John"

## my var = "John"  # this will fetch error

#### **DATATYPES IN PYTHON**

1. Integers (int) : 3, 100, 10
2. Floating point (float) : 2.3, 9.0. 194.6
3. Strings (str) : "hello", '4000', "Deepti"
4. Lists (list) : [10, "dips", 3]
5. Dictionaries (dict) : {"key": "value", "name", "Deepti"}
6. Tuples (tup) : (10, "hello", 400)
7. Sets (set) : {"a","b"}
8. Booleans (bool) : True or False

#### Numbers

In [5]:
9+6.3  # Addition

15.3

In [6]:
100-80 # Subtraction

20

In [7]:
2*2   # Multiplication

4

In [8]:
3/2

1.5

In [9]:
4/2  # Division

2.0

In [10]:
4%2 # To know remainder, use MOD operator '%'

0

In [11]:
50%3

2

In [12]:
2**3  # Exponetial

8

In [13]:
print(25^5) # some logic operator

28

#### Variable Assignment

In [14]:
my_dog = "Caesar"

In [15]:
print(my_dog)

Caesar

In [16]:
type(my_dog)

str

In [17]:
a = 2.5

In [18]:
type(a)

float

In [19]:
one_val = 20.5
other_val = 30

print(one_val * other_val)

615.0

#### INDEX in python

Character  : h  e  l  l  o  
Index      : 0  1  2  3  4  
Reverse ind: 0 -4 -3 -2 -1

In [20]:
# Using single quotation

'hello'

'hello'

In [21]:
print('hello')

hello

In [22]:
# Using double quotation when you need to use single quotation in sentence

"I'm going to DC"

"I'm going to DC"

In [23]:
# If you write two sentences, the output will be only the last one

'Hi, I am Deepti'
'I love dogs'

'I love dogs'

In [24]:
# If you want to include full sentences, you need to use 'print'

print('Hi, I am Deepti')
print('I love dogs')

Hi, I am Deepti
I love dogs

In [25]:
# Escape sequence (\n): If you want to print in different lines

print("Hi, \nI'm Deepti")

Hi,
I'm Deepti

In [26]:
# Check the length of string

print(len("Hello"))
print(len("I'm Deepti"))  #counts the spaces as well

5
10

#### String Indexing

In [27]:
string = "Hello World"

In [28]:
# Let's day I want to grab the second character from string. I can do that by specifying index position
# Remember that the positive index starrts from '0' and negative index from '-1'

# Extract 'e' from string

string[1]

'e'

In [29]:
# Extract 'W' from string

string[-5]

'W'

#### String Slicing

In [30]:
my_string = "Hello World, I'm Deepti!"

# Extract "Hello" from string. There are two ways: 

#1. Specify [0:5] - that will extract all letters till 5th position and doesn't include 5th position (stop index). Remember to count from '0'
#2. Specify [:5] - That will also do the same. Remember that it cosiders the mentioned index position

my_string[:5]

'Hello'

In [31]:
# Extract "I'm Deepti!"

# When you are using colon after the index number, that letters will incude the start index position and all later

my_string[13:]

"I'm Deepti!"

In [32]:
# Extract "World"

# In this we want 'W' to be first one, therefore we will incude start index 'W' and the stop index as 'd' as it is considered before 11th positiom

my_string[6:11]

'World'

In [33]:
# An alternative method o grab everyting in the string - step size

# Now this is printing every letters in step H e l l o....

my_string[::]

"Hello World, I'm Deepti!"

In [34]:
# What if I want to print evry 2 letter in a sequence

my_string[::2]

"HloWrd ' epi"

In [35]:
my_string[::5]

'H dmp'

In [36]:
# You can also do this =>
# [start index : stop index : step size]

string2 = "abcdefghijklm"

string2[2:7:2]

'ceg'

In [37]:
# The operation is performed as follows:

# 1. It will first print the letter from start index 2 to stop index 7 = 'cdefg'
# 2. I t will perform step function i.e +2 on cdefg = ceg

In [38]:
my_string[::-1]

"!itpeeD m'I ,dlroW olleH"

##### Example:

In [ ]:
input = "Hello World , I Am Here"  # output = "Here Am I, World Hello"

In [35]:
print(input)

Hello World , I Am Here

In [36]:
output = input.split()

In [37]:
print(output)

['Hello', 'World', ',', 'I', 'Am', 'Here']

In [38]:
output[::-1]

['Here', 'Am', 'I', ',', 'World', 'Hello']

In [40]:
output = " ".join(output[::-1])

In [52]:
print(output)

['Here Am I , World Hello']

#### Immutability in string

In [39]:
# Let's say I want to replace 'beer' with 'deer' by just changing first letter.
# Since strings are immutable meaning that they cannot be edited, you have to use concatenation

a = 'beer'

In [40]:
b = a[1:]
b

'eer'

In [41]:
c = 'd'+b
c

'deer'

In [42]:
# Another example would be. Creating a number in the form of string

'200' + '100'    # This is not equal to 300 as it is a string

'200100'

In [43]:
a.upper()

'BEER'

In [44]:
my_string.split()    # splits based on spaces

['Hello', 'World,', "I'm", 'Deepti!']

In [45]:
my_string.split("'")

['Hello World, I', 'm Deepti!']

#### Print Formatting with Strings

#### .format() method

In [46]:
# The formatting is used to concatenate parts of a string at desired intervals through point data format
# We use {} to fill any data formats

print('The roses are {}'.format('red'))

The roses are red

In [47]:
print('The roses are {}, {}, {}'.format('red','pink','yellow'))

The roses are red, pink, yellow

In [48]:
print('The roses are {0}, {0}, {0}'.format('red','pink','yellow'))

The roses are red, red, red

In [49]:
print('The roses are {2}, {0}, {1}'.format('red','pink','yellow'))

The roses are yellow, red, pink

In [50]:
print('The roses are {r}, {p}, {y}'.format(r='red',p='pink',y='yellow'))   #specifying using variable assignment, better than index position

The roses are red, pink, yellow

#### float .format() method

In [51]:
result = 100/777

In [52]:
result

0.1287001287001287

In [53]:
print("The result was {r}".format(r=result))

The result was 0.1287001287001287

In [54]:
# What if you want decimal to be in a specific places
# "value:width.precision f"

print("The result was {r:1.3f}".format(r=result))

The result was 0.129

In [55]:
print("The result was {r:10.3f}".format(r=result))   #width just adds space before the number

The result was      0.129

In [56]:
result2 = 200.45

In [57]:
print("The result was {r:1.3f}".format(r=result2))

The result was 200.450

#### 'f' string method

In [58]:
# An alternarive method to do formating : 'f' string

name = "Dipti"

In [59]:
print(f"Hello, my name is {name}")

Hello, my name is Dipti

In [60]:
name = "Ana"
age = 3
print(f"Her name is {name} and she is {age} years old")

Her name is Ana and she is 3 years old

### Mutable and Immutable datatype

#### MUTABLE DATATYPES

Mutable datatypes: datatypes that can be edited. Examples are **list and dictionary**

#### Lists

In [61]:
# Lists are mutable dataypes that stores values in ordered sequence

list_1 = [1, "two", 3, "4", 5, 6]

In [62]:
list_1

[1, 'two', 3, '4', 5, 6]

In [63]:
list_2 = [5,6,8,9]

In [64]:
# concatenation

list_3 = list_1 + list_2
list_3

[1, 'two', 3, '4', 5, 6, 5, 6, 8, 9]

In [65]:
list_3[0]

1

In [66]:
list_3[1] =2

In [67]:
list_3

[1, 2, 3, '4', 5, 6, 5, 6, 8, 9]

In [68]:
list_3[3]=4

In [69]:
list_3

[1, 2, 3, 4, 5, 6, 5, 6, 8, 9]

In [70]:
# extend list

list4 = [13,39,11,84]

list_3.extend(list4)

list_3

[1, 2, 3, 4, 5, 6, 5, 6, 8, 9, 13, 39, 11, 84]

In [71]:
# Copying list

# copy_list = list1.copy()
# print(copy_list)

copy_list = list_1  #if we use a=b, the changes made in a will reflect on b, 
                   #in order to avoid that we use copy method

copy_new_list = list_1.copy()
print(copy_new_list)

[1, 'two', 3, '4', 5, 6]

In [72]:
# We can create list in a list

list5 = [11,12,13,14, list_1]
list5

[11, 12, 13, 14, [1, 'two', 3, '4', 5, 6]]

In [73]:
len(list5)    #len will be 4 not includes the count of nexted lists

5

In [74]:
list5[4]  # here you can unpack the list

[1, 'two', 3, '4', 5, 6]

In [75]:
# slicing

list_3[:5]

[1, 2, 3, 4, 5]

In [76]:
# step functions

list_3[1:7:2]

[2, 4, 6]

In [77]:
list_3.append(10)
list_3

[1, 2, 3, 4, 5, 6, 5, 6, 8, 9, 13, 39, 11, 84, 10]

In [78]:
# pop() removes the last items, if nothing specified index location is povided under ()

list_3.pop()

10

In [79]:
list_3

[1, 2, 3, 4, 5, 6, 5, 6, 8, 9, 13, 39, 11, 84]

In [80]:
list_3.pop(6)

5

In [81]:
list_3

[1, 2, 3, 4, 5, 6, 6, 8, 9, 13, 39, 11, 84]

In [82]:
list_3.remove(6)      #in remove an item in a list is specified index position

In [83]:
list_3

[1, 2, 3, 4, 5, 6, 8, 9, 13, 39, 11, 84]

In [84]:
# Remove specified index, alternative is 'del'

# del list1[0]

# list1.clear()  will clear the list

In [85]:
list_3.sort(reverse= True)   #or list_3.reverse()
list_3

[84, 39, 13, 11, 9, 8, 6, 5, 4, 3, 2, 1]

In [86]:
list_3.sort()
list_3

[1, 2, 3, 4, 5, 6, 8, 9, 11, 13, 39, 84]

#### Dictionaries

In [87]:
# Dictionary - used to store data values in key:value pair. A dictionary is a collection which is ordered*, 
# changeable and do not allow duplicates.

dict = {"brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]    
}

print(dict)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

In [88]:
# Dictionarie are the mutable datatypes and contains key:value pair. They are unordered, cant be sorted
# {'key1': value1, 'key2' : 'value2'}

prices = { 'apple' : '2.99', 'oranges' :1.99, 'milk': 5.80}

In [89]:
prices

{'apple': '2.99', 'oranges': 1.99, 'milk': 5.8}

In [90]:
prices['milk']

5.8

In [91]:
# prices[0]  #this doesnt recognize index

In [92]:
# We can store list inside dictionary

d = {'k1': 123, 'k2':[0,1,2,3], 'k3':{'insidekey':100}}

In [93]:
d

{'k1': 123, 'k2': [0, 1, 2, 3], 'k3': {'insidekey': 100}}

In [94]:
d['k2']

[0, 1, 2, 3]

In [95]:
d['k2'][1]    # since it was a list I can specify index in it

1

In [96]:
d['k3']['insidekey']

100

In [97]:
 # Changing the value in key
    
d['k1']=450
d

{'k1': 450, 'k2': [0, 1, 2, 3], 'k3': {'insidekey': 100}}

In [98]:
key = {'key1':['a','b','c']}
key

{'key1': ['a', 'b', 'c']}

In [99]:
# Lets say I want the letter 'c' to be capital, we can do so by 

mylist = key['key1']
mylist

['a', 'b', 'c']

In [100]:
c = mylist[2].upper()
c

'C'

In [101]:
# Other method

key['key1'][2].upper()

'C'

In [102]:
# Adding new key: value pair

d

{'k1': 450, 'k2': [0, 1, 2, 3], 'k3': {'insidekey': 100}}

In [103]:
d['k4'] = 687

In [104]:
d

{'k1': 450, 'k2': [0, 1, 2, 3], 'k3': {'insidekey': 100}, 'k4': 687}

In [105]:
# List the keys in dictionary

d.keys()

dict_keys(['k1', 'k2', 'k3', 'k4'])

In [106]:
# List the items in dictionary

d.items()

dict_items([('k1', 450), ('k2', [0, 1, 2, 3]), ('k3', {'insidekey': 100}), ('k4', 687)])

#### IMMUTABLE DATATYPES

#### Tuples

In [107]:
# Tupes are similar to lists but they are immutable (cant be reassigned)
# syntax (1,2,3)

t = (1,2,3)
t

(1, 2, 3)

In [108]:
type(t)

tuple

In [109]:
t[1]

2

In [110]:
t = ('one',2)

In [111]:
t

('one', 2)

In [112]:
t = (1,2,2,4,5,6)

In [113]:
# count repeats

t.count(2)

2

In [114]:
# Gives index locations

t.index(4)

3

In [115]:
# Can we assign new value in tuple -- No

# t[3] = 9

#### Sets in Python

In [116]:
# Sets are unordered collection of unique elements

set1 = set()
set1                 #empty set

set()

In [117]:
set1.add(1)
set1

{1}

In [118]:
set1.add(2)
set1

{1, 2}

In [119]:
# Lets try adding 2 again

set1.add(2)
set1             # Did you see dups? No, because they allowe only unique values

{1, 2}

In [120]:
list3 = [1,1,1,1,1,2,2,2,2,3,3]

In [121]:
set(list3)   #set doesnt allows duplicates

{1, 2, 3}

#### Booleans

In [122]:
# Logical Operators that allows True or False

# In Python, you must write True and False like "True" and "False". It is case sensitive

False

False

In [123]:
1>2

False

In [124]:
5 <10

True

In [125]:
type(True)

bool

In [126]:
2 == 4

False

In [127]:
b = None

In [128]:
type(b)

NoneType

#### Basic I/O files

Magic Function in python '%'. Magic functions only work in jupyter lab/notebook. This is a function of jupyter
**Please note:** There shouldn't be any comments before the magic functions, otherwise it wont work

In [129]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
I am explaining how you can write a tex file in python

Overwriting myfile.txt

In [130]:
myfile = open('myfile.txt')    #file name should be in string

In [131]:
myfile.read()

'Hello this is a text file\nthis is the second line\nI am explaining how you can write a tex file in python\n'

In [132]:
myfile.read()

''

when you read the text file again it wont show the text, it gave an empty string
This is happenig cz there is a cursor at the beginning of the file and in order to make
it read again, we need to seek it back to zero

In [133]:
myfile.seek(0)

0

In [134]:
myfile.read()

'Hello this is a text file\nthis is the second line\nI am explaining how you can write a tex file in python\n'

Sometimes the file won't open if its not in a same folder where your jupyter notebook is
In this case, you need to get a file path using pwd... this also doesnt work with any comments before it

In [135]:
pwd

'/Users/shirishpandagare/Documents/DiptiFolder/Github_repo/Deepti_Github_Repo/Learning_hub/python_learning'

In [136]:
# if we want separate objects

myfile.seek(0)

0

In [137]:
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'I am explaining how you can write a tex file in python\n']

How to open a text file which is in any other location in Mac / Linux     
myfile = open("/Users/Username/Folder/myfile.txt")

In [138]:
pwd

'/Users/shirishpandagare/Documents/DiptiFolder/Github_repo/Deepti_Github_Repo/Learning_hub/python_learning'

In [139]:
myfile.close()

In [140]:
with open('myfile.txt') as my_new_file:
    content = my_new_file.read()

In [141]:
content

'Hello this is a text file\nthis is the second line\nI am explaining how you can write a tex file in python\n'

In [142]:
with open('myfile.txt',mode ='r') as myfile:
    content = myfile.read()

mode = **r** is for read, **w** for write, **a** to append

#### Comparison Operators in Python

In [143]:
2 == 2  # == 'two equals' because python recognises it as equals, one equal '=' is for variable assignment

True

In [144]:
2 == 1

False

In [145]:
2.0 == 2

True

In [146]:
3 != 3    # not equal

False

In [147]:
4>9

False

Multiple comparisons =>

logical opertors : and, or, not

In [148]:
# We want to if 1 < 2 and at the same time we also want to check is 2 < 3

1 < 2 < 3

True

In [149]:
1 < 2 > 3  #T & F = F

False

In [150]:
1 < 2 and 2 > 3

False

In [151]:
1 < 2 or 2 > 3

True

In [152]:
('h' == 'h') and (2 == 2)

True

In [153]:
# not : opposite boolean of the result

not(1==1)

False

In [154]:
not 400 > 5000

True

#### Python Statements

In [155]:
##### If Elif and Else Statements


'''
## if and else


if <some condition> :    
    # execute code      
else:     
    # do something else     

 
## Multiple conditions


if <some condition> :     
    # execute code    
elif <some other condition>:    
    # do something different    
else:     
    # do something else

'''

if True:
    print("It's True")
else:
    print("It's False")

It's True

In [156]:
hungry = False

if hungry:
    print('Feed me')
else:
    print('I am not hungry')

I am not hungry

In [157]:
hungry = True

if hungry:
    print('Feed me')
else:
    print('I am not hungry')

Feed me

In [158]:
loc = 'Bank'

if loc == 'Auto':
    print('Cars')
elif loc == 'Bank':
    print('Money')
elif loc == 'Cafe':
    print('Coffee')
else:
    print('None')

Money

#### For Loops

In [159]:
# Syntax:
# my_iterable = [1,2,3]
# for item_name in my_iterable:
#     print(item_name)

In [2]:
listtt = [1,2,3,4,5,6,7,8,9,10]

for x in listtt:
    print(x)

1
2
3
4
5
6
7
8
9
10

In [3]:
for a in listtt:
    print("number")

number
number
number
number
number
number
number
number
number
number

In [4]:
for num in listtt:
    if num % 2 == 0:
        print(num)

2
4
6
8
10

In [5]:
for num in listtt:
    if num % 2 == 0:
        print(f'odd num: {num}')
    else:
        print("not even")

not even
odd num: 2
not even
odd num: 4
not even
odd num: 6
not even
odd num: 8
not even
odd num: 10

In [6]:
list_sum = 0

for num in listtt:
    list_sum = listtt + num

print(list_sum)

TypeError: can only concatenate list (not "int") to list

In [7]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
count = 0 

for x in fruits:
    print(x)
    if "a" in x:
        count = count + 1
        
print(count)

apple
banana
cherry
kiwi
mango
3

In [8]:
# In the above output you get a numbers incremented by 1, what if I want it to increment by 2

for val in range(2,20,2):
    print(val)

2
4
6
8
10
12
14
16
18

In [9]:
# using else in for loop

for v in range(6):
    print(v)
else:
    print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [17]:
# Calculate sum of the list and count in the list

#listtt = [1,2,3,4,5,6,7,8,9,10]


list_sum = 0
count = 0 

for num in listtt:
    list_sum = list_sum + num
    count = count + 1
    
print(list_sum)
print(count)

55
10

In [18]:
# Calculate the product of the numbers in the list

list_prod = 1

for num in listtt:
    list_prod = list_prod * num
    
print(list_prod)

3628800

In [21]:
# Count even and odd numbers in the listtt

even_cnt = 0
odd_cnt = 0

for num in listtt:
    if num%2 == 0:
        even_cnt = even_cnt + 1
    if num%2 != 0:
        odd_cnt = odd_cnt + 1

print(even_cnt)
print(odd_cnt)

5
5